@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:ital,wght@0,200;1,100;1,200&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
}

header {
  background-color: #0c4f5fb4;
  display: flex;
  gap: 20px;
  grid-gap: 20px;
  justify-content: space-between;
  padding-inline: 10px;
  max-height: 120px;
  align-items: center;
  max-width: 100%;
  min-width: 300px;
  overflow-x: hidden;
}

.logo {
  width: 100px;
  margin-top: 10px;
  padding-block-end: 10px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  margin-left: 20px;
  padding-right: 10px;
  height: 60px;
}

.navbar a {
  display: block;
  color: beige;
  font-size: 100%;
  text-decoration: none;
  padding: 10px 10px;
  border: 3px solid beige;
  margin: 5px 5px;
}

.navbar a:hover {
  background-color: #0c4f5fb4;
}

main {
  background-image: url("../IMG/fm-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position-x: 110%;
  min-width: 300px;
  max-width: 1500px;
  overflow-x: hidden;
}

main h1 {
  color: #040404d8;
  text-align: left;
  justify-content: right;
  font-size: 45px;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 20px;
}

h2 {
  text-align: center;
  color: black;
  font-size: 35px;
  padding-top: 25px;
  left: 50%;
  margin-top: 80px;
}

p {
  font-size: 1.2em;
  justify-content: right;
  align-items: right;
  white-space: pre-line;
  margin-left: 3%;
  padding-top: 70px;
  width: 29%;
  min-width: 300px;
  text-shadow: 2px 2px 4px rgba(62, 93, 111, 0.893);
  overflow-x: hidden;
}

.video__muestra {
  display: block;
  width: 100%;
  max-width: 50%;
  margin-left: 150px;
  left: 50%;
  margin-top: 150px;
  margin-bottom: 15px;
}

.container {
  display: block;
  width: 100%;
  background-color: beige;
  margin-left: 15px;
  padding-bottom: px;
  padding-top: 5px;
}

button.boton-Youtube {
  background-image: url("../IMG/youtube_PNG102354-removebg-preview.png");
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 90px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  text-align: right;
  margin-left: 50%;
  margin-bottom: 15%;
}

button.boton-Youtube:hover {
  background-color: rgba(173, 119, 119, 0.723);
  border-radius: 13px;
}

h3 {
  font-size: 30px;
  text-align: left;
  text-decoration: underline;
  display: block;
  color: #0a0a0a;
  margin: 40px 10px 30px 50px;
}

article {
  width: 100%;
  margin-left: 40px;
}

h4 {
  font-size: 45px;
  text-align: center;
  display: block;
  color: #0a0a0a;
  margin-bottom: 50px;
  margin-right: 30px;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 80%;
  height: auto;
  margin: 10px;
  padding: 0px;
  object-position: center;
  background-size: cover;
}

article iframe {
  display: inline-block;
  max-width: 70%;
  width: 100%;
  margin: 10px;
  gap: 5px;
  background-size: cover;
  object-position: center;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: green;
  color: beige;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 9999;
  background-image: url("../IMG/whatsapp-png-wazapp-logo-whats-whatsapp-logo-whatsapp-icon-2050-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-bottom: 20px;
}

.whatsapp-button a {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.whatsapp-button:hover {
  background-color: darkgreen;
}

footer {
  background-color: #0c4f5fb4;
  color: rgb(11, 11, 11);
  text-align: center;
  margin-bottom: 0px;
  padding: 10px;
}

h5 {
  font-size: 20px;
  padding-right: 10px;
}

h6 {
  font-size: 25px;
}

h7 {
  font-size: 20px;
}
.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 10px;
  font-size: 22px;
  text-decoration: none;
  margin: 8px 5px;
  background-color: rgb(235, 235, 232);
  padding-block-end: 0;
}
.btn:hover {
  background-color: #0c4f5fb4;
}

.btn img {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.btn span {
  display: inline-block;
}

.contenedor-redes-sociales {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icono-red-social {
  width: 35px;
  height: 35px;
}
.icono-red-social:hover {
  background-color: beige;
}

@media only screen and (max-width: 640px) {
  main {
    background-size: 35%;
  }

  .navbar {
    display: flex;
    width: 70vh;
    margin-bottom: 0;
    height: 40px;
    min-width: 700px;
    text-align: center;
  }

  .navbar a {
    font-size: 80%;
    padding: 2px 2px;
    border: 2px solid beige;
    margin: 3px 3px;
    display: inline-block;
    text-align: right;
    align-items: right;
  }

  .logo {
    margin: 10px 0;
    display: grid;
    align-items: flex-start;
    height: 90px;
    width: 90px;
  }

  .video__muestra {
    display: flex;
    max-width: 30%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .container {
    background-color: white;
    text-align: center;
    margin-right: 20px;
  }

  h3 {
    font-size: 25px;
    margin-left: 5px;
    text-align: center;
  }

  .boton-Youtube {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  h2 {
    margin-right: 40px;
    font-size: 25px;
  }

  .container {
    width: 95%;
  }
}
