@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:ital,wght@0,200;1,100;1,200&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 1600px;
  margin: auto;
}

header {
  background-color: #0c4f5fb4;
  display: flex;
  gap: 20px;
  grid-gap: 20px;
  justify-content: space-between;
  padding-inline: 10px;
  max-height: 120px;
}

.logo {
  width: 100px;
  margin-top: 10px;
  padding-block-end: 10px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  margin-left: 20px;
  padding-right: 10px;
}

.navbar a {
  display: block;
  color: beige;
  font-size: 85%;
  text-decoration: none;
  padding: 8px 8px;
  border: 3px solid beige;
  margin: 5px 5px;
}

.navbar a:hover {
  background-color: #0c4f5fb4;
}

main {
  background-image: url("../IMG/fm-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top right;
  background-position-x: 110%;
  min-height: 320vh;
  min-width: 300px;
  max-width: 1500px;
}

main h1 {
  color: #040404d8;
  text-align: left;
  justify-content: right;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 20px;
}

.contenedor__shows {
  display: flex;
  width: 70%;
  height: 40%;
  margin-top: 20%;
}

.shows {
  background-image: url("../IMG/ticket2024.png");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 120%;
  height: 30vh;
  display: block;
  margin-bottom: 20px;
  padding-top: 20%;
  padding-left: 15%;
}

.shows2 {
  background-image: url("../IMG/ticket2023.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
  width: 75%;
  height: 30vh;
  display: block;
  margin-top: 9%;
  margin-left: 5%;
}

.estilos__eventos {
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(62, 93, 111, 0.893);
  white-space: pre-line;
  text-align: center;
  width: 140%;
  margin-top: 10px;
}

h2 {
  font-size: 45px;
  display: block;
  text-decoration: underline;
  text-align: right;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 80%;
}

.otros__eventos {
  display: inline-block;
  text-align: right;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

h4 {
  font-size: 45px;
  display: inline-block;
  justify-content: center;
  margin-right: 25%;
  padding-left: 60vw;
  margin-top: 40vh;
  align-items: center;
  text-align: center;
  text-decoration: underline;
}

.entradas button {
  background-image: url("../IMG/ticket-icon-in-grey-colors-voucher-signs-illustration-png__1_-removebg-preview.png");
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  padding-left: 20%;
  background: transparent;
  border: none;
  width: 350px;
  height: 150px;
  overflow: hidden;
  margin-top: 20px;
  align-items: center;
  margin-right: 20%;
}

.icono-entradas {
  width: 550px;
  height: 120px;
  border-radius: 50%;
}

.entradas:hover {
  background-color: rgba(86, 86, 74, 0.745);
}

.tarjetas {
  display: flex;
  margin-left: 20px;
  margin-top: 20%;
}

.tarjeta__muestra1,
.tarjeta__muestra2,
.tarjeta__muestra3 {
  flex: 1;
  width: 300px;
  height: 90vh;
  border: 3px solid beige;
  border-radius: 20px;
  margin-right: 20px;
  background-color: rgba(20, 20, 13, 0.603);
  margin-top: 40px;
  object-fit: contain;
}

.tarjeta__muestra1 img,
.tarjeta__muestra2 img,
.tarjeta__muestra3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 15px;
}

.tarjeta__cuerpo,
.tarjeta__cuerpo2,
.tarjeta__cuerpo3 {
  width: 100%;
  height: 40%;
  padding: 10px;
  background-color: grey;
  border: 3px solid black;
  border-radius: 15px;
}

.titulo__tarjeta,
.titulo__tarjeta2,
.titulo__tarjeta3 {
  font-size: 20px;
  color: black;
}

.parrafo__tarjeta,
.parrafo__tarjeta2,
.parrafo__tarjeta3 {
  color: rgb(8, 8, 8);
}

.container {
  display: block;
  text-align: start;
  padding-top: 260px;
}

button.boton-Youtube {
  background-image: url("../IMG/youtube_PNG102354-removebg-preview.png");
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 90px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  text-align: right;
  margin-left: 50%;
  margin-bottom: 15%;
}

button.boton-Youtube:hover {
  background-color: rgba(173, 119, 119, 0.723);
  border-radius: 13px;
}

h3 {
  font-size: 40px;
  text-align: left;
  text-decoration: underline;
  display: block;
  color: #0a0a0a;
  margin-top: 20px;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: green;
  color: beige;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 9999;
  background-image: url("../IMG/whatsapp-png-wazapp-logo-whats-whatsapp-logo-whatsapp-icon-2050-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-bottom: 20px;
}

.whatsapp-button a {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.whatsapp-button:hover {
  background-color: darkgreen;
}

footer {
  background-color: #0c4f5fb4;
  color: rgb(11, 11, 11);
  text-align: center;
  margin-bottom: 0px;
  padding: 10px 10px;
  top: 0;
  height: 35vh;
}

h6 {
  font-size: 15px;
}

h7 {
  font-size: 15px;
  display: block;
}

h8 {
  font-size: 15px;
  padding-top: 10px;
}

.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 10px;
  font-size: 22px;
  text-decoration: none;
  margin: 8px 5px;
  background-color: rgb(235, 235, 232);
  padding-block-end: 0;
}
.btn:hover {
  background-color: #0c4f5fb4;
}

.btn img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.btn span {
  display: inline-block;
}

.contenedor-redes-sociales {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icono-red-social {
  width: 50px;
  height: 50px;
}
.icono-red-social:hover {
  background-color: beige;
}

@media only screen and (max-width: 640px) {
  main {
    background-size: 45%;
  }

  .contenedor__shows {
    display: block;
    max-width: 70%;
    height: 35%;
    margin-bottom: 40%;
  }

  .shows {
    background-position: 30%;
    width: 75%;
    height: 35vh;
    display: block;
    margin-bottom: 20px;
    padding-top: 60%;
    margin-left: 4%;
  }

  .shows2 {
    display: inline-block;
    background-size: 110%;
    background-position: 60%;
    width: 125%;
    height: 30vh;
    display: block;
    margin-bottom: 20px;
    margin-right: 70%;
  }

  .estilos__eventos {
    font-size: 13px;
  }

  h2 {
    font-size: 20px;
    display: block;
    margin-top: 25%;
    text-align: center;
    margin-right: 60%;
    text-align: justify;
  }

  .container {
    display: block;
    text-align: center;
    margin-top: 40%;
  }

  h3 {
    font-size: 35px;
    text-align: left;
    text-decoration: underline;
    display: block;
    color: #0a0a0a;
    margin-top: 20px;
  }

  .otros__eventos {
    text-align: center;
    margin-bottom: 90px;
    margin-left: 25px;
    margin-top: 10px;
  }

  h4 {
    display: flex;
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
  }

  .entradas button {
    display: block;
    max-width: 90px;
    max-height: 110px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
  }

  .icono-entradas {
    width: 80px;
    height: 120px;
    border-radius: 50%;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .contenedor__shows {
    max-width: 50%;
    margin-right: 10px;
    margin-bottom: 70px;
  }

  .shows {
    margin-left: 40px;
  }

  h2 {
    font-size: 35px;
    text-align: start;
    justify-content: start;
    align-items: flex-end;
    padding-bottom: 60px;
    margin-top: 90px;
  }

  .shows2 {
    background-position: 55%;
    width: 110%;
    height: 20vh;
  }

  .otros__eventos {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 25px;
    display: block;
  }

  h4 {
    display: block;
    font-size: 35px;
    margin-bottom: 20%;
    text-align: center;
  }
}
