@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:ital,wght@0,200;1,100;1,200&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
  min-height: 900px;
}

header {
  background-color: #0c4f5fb4;
  display: flex;
  gap: 20px;
  grid-gap: 20px;
  justify-content: space-between;
  padding-inline: 10px;
  max-height: 120px;
  align-items: center;
  max-width: 100%;
  min-width: 300px;
}

.logo {
  width: 100px;
  margin-top: 10px;
  padding-block-end: 10px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  margin-left: 20px;
  height: 60px;
}

.navbar a {
  display: block;
  color: beige;
  font-size: 100%;
  text-decoration: none;
  padding: 10px 15px;
  border: 3px solid beige;
  margin: 5px 5px;
}

.navbar a:hover {
  background-color: #0c4f5fb4;
}

main {
  max-width: 110%;
  min-height: 230vh;
  height: 300vh;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr) 1fr;
  grid-template-areas:
    "Flor Fotos"
    "Videos Videos";
  gap: 10px;
  margin: 10px;
}

.column_Flor {
  grid-area: Flor;
}

.column_Alumnos {
  grid-area: Fotos;
}

.column_Videos {
  grid-area: Videos;
}

.video-container {
  height: auto;
  display: flex;
}

.img__flor,
.img__fotos {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
  padding-right: 20px;
}

.img__videos {
  display: block;
  width: 50%;
  height: calc(25cqw);
  opacity: 0.7;
  margin-right: 0px;
  padding: 0px;
  border: 0px;
  object-position: center;
  background-size: cover;
  background-position: center center;
}

.video-container {
  width: 100vw;
  min-width: 300px;
  max-width: 1204px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  padding-top: 60px;
}

.video-container iframe {
  width: 150vw;
}

.nombre__flor {
  display: inline-flex;
  left: 20%;
  background-color: transparent;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  margin-left: 40px;
}

.nombre__flor:hover {
  color: #0c4f5fb4;
}

.nombre__alumnos {
  left: 60%;
  display: inline-flex;
  background-color: transparent;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  margin-left: 40px;
}

.nombre__alumnos:hover {
  color: #0c4f5fb4;
}

.nombre__videos {
  font-size: 30px;
  display: block;
}

.nombre__videos:hover {
  color: #0c4f5fb4;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: green;
  color: beige;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 9999;
  background-image: url("../IMG/whatsapp-png-wazapp-logo-whats-whatsapp-logo-whatsapp-icon-2050-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-bottom: 20px;
}

.whatsapp-button a {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.whatsapp-button:hover {
  background-color: darkgreen;
}

footer {
  background-color: #0c4f5fb4;
  color: rgb(11, 11, 11);
  text-align: center;
  margin-bottom: 0px;
  padding: 10px;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 10px;
  font-size: 22px;
  text-decoration: none;
  margin: 8px 5px;
  background-color: rgb(235, 235, 232);
  padding-block-end: 0;
}
.btn:hover {
  background-color: #0c4f5fb4;
}

.btn img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.btn span {
  display: inline-block;
}

.contenedor-redes-sociales {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: auto;
  min-width: auto;
}

.icono-red-social {
  width: 50px;
  height: 50px;
}
.icono-red-social:hover {
  background-color: beige;
}

@media only screen and (max-width: 640px) {
  .navbar {
    display: flex;
    width: 40vh;
    margin-bottom: 0;
    height: 40px;
    text-align: start;
  }

  .navbar a {
    font-size: 70%;
    padding: 2px 2px;
    border: 2px solid beige;
    margin: 3px 3px;
    display: inline-block;
  }

  .logo {
    margin: 10px 0;
    display: grid;
    align-items: flex-start;
    height: 90px;
    width: 90px;
  }

  main {
    max-width: 105%;
    min-height: 460vh;
    overflow-x: hidden;
  }

  .container {
    flex: 1;
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "Flor"
      "Alumnos"
      "Videos";
  }

  .column_Flor {
    grid-area: Flor;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column_Alumnos {
    grid-area: Alumnos;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column_Videos {
    grid-area: Videos;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nombre__flor {
    font-size: 40px;
    text-align: center;
    bottom: 30px;
  }

  .nombre__alumnos {
    font-size: 40px;
    text-align: center;
  }
  .nombre__videos {
    font-size: 30px;
    text-align: bottom;
    display: block;
    padding-top: 10px;
    margin-left: 20px;
  }

  .img__flor,
  .img__fotos {
    max-width: 400px;
    height: auto;
    object-fit: cover;
    margin: 10px;
  }

  .img__videos {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 50px;
  }

  .video-container {
    display: block;
    width: 15%;
    gap: 20px;
    left: 50px;
    padding-top: 10px;
    margin-right: 50px;
  }

  h3 {
    font-size: 20px;
    padding: 10px;
  }

  .whatsapp-button a {
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 5px 10px;
  }
  .whatsapp-button img {
    width: 20px;
    height: 20px;
  }

  footer {
    width: 100%;
  }

  .contenedor-redes-sociales {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  h1 {
    display: flex;
    font-size: 15px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
  }

  .icono-red-social {
    width: 30px;
    height: 30px;
    align-items: center;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .video-container {
    display: flex;
    max-width: 100%;
    height: 50vh;
    margin: 10px;
    gap: 20px;
  }

  .img__videos {
    max-width: 75%;
    height: 35vh;
    object-fit: contain;
    margin-top: 15px;
    margin-left: 45px;
  }

  .video-container {
    display: block;
    min-width: 20%;
    max-width: 80%;
  }

  .nombre__videos {
    font-size: 20px;
    text-align: end;
    padding-top: 20px;
  }
}
