@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:ital,wght@0,200;1,100;1,200&family=Lobster&display=swap");

$fontLobster:"Lobster",sans-serif;

$colorprincipal:#0c4f5fb4;

$colorsecundario:#f5f5dc;

$colorterciario:#3e5d6fe4;



